body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--vscode-editor-background);
}

.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
  cursor: default;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
  cursor: default;
}

.buttons span > span {
  color: var(--vscode-foreground);
}

.links line {
  stroke: var(--vscode-editor-foreground);
  opacity: 0.5;
}

.links line[isStub=true] {
  stroke: var(--vscode-editorIndentGuide-background);
}



.nodes circle {
  cursor: pointer;
  fill: var(--vscode-editor-foreground);
  transition: all 0.15s ease-out;
}

.nodes circle[isStub=true] {
	fill: var(--vscode-editorIndentGuide-background);
}

.nodes circle[isCurrentlyActive=true] {
  fill: #f44747;
}


.text text {
  cursor: pointer;
  fill: var(--vscode-editor-foreground);
}

.text text[isStub=true] {
  fill: var(--vscode-editorIndentGuide-background);
}

.text text[isCurrentlyActive=true] {
  fill: #f44747;
}

.nodes [active],
.text [active] {
  cursor: pointer;
  fill: var(--vscode-textLink-foreground);
}

